<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lim.assignment">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Post"
            android:exported="true" />
        <activity
            android:name=".SignIn"
            android:exported="true" />
        <activity
            android:name=".Homepage"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity android:name=".Find"
            android:exported="true" />
        <activity android:name=".Notification"
            android:exported="true" />
        <activity android:name=".Profile"
            android:exported="true" />
        <activity android:name=".like"
            android:exported="true" />
        <activity android:name=".Feedback"
            android:exported="true" />
        <activity android:name=".Find_Details"
            android:exported="true" ></activity>
    </application>

</manifest>